**/.DS_Store
node_modules
dist
.cache
X3Make parcel ignore... · Issue #2398 · parcel-bundler_parcel.mhtml
X3parcel-resolver-ignore - npm.mhtml
parallax.fig
parcel-resolver-ignore - npm.mhtml
Make parcel ignore... · Issue #2398 · parcel-bundler_parcel.mhtml