@import './utils';
@import './components/';
@import './layout/';

.wrapper {
    width: 96%;
    max-width: 120rem;
    margin: 0 auto;
}

// 
// предотвращение убирания address-bar в мобильных браузерах
html {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

// предотвращение убирания address-bar в мобильных браузерах
// 