.main {
    position: relative;
    overflow: hidden;

    &__wrapper {
        position: relative;
    }

    &__title {
        @include h1();
        text-transform: uppercase;
        margin-top: 6.7rem;
    }

    &__desc {
        @include p1();
        color: $cherry;
        line-height: 1.5;
        margin-top: 28rem;

        // mix-blend-mode: hard-light;

        text-align: center;

        & span {
            display: block;
            position: relative;

            &:nth-of-type(1) {
                left: -120%;

                @media ($laptop) {
                    left: -60%;
                }
            }

            &:nth-of-type(2) {
                left: 100%;

                @media ($laptop) {
                    left: 50%;
                }
            }

            &:nth-of-type(3) {
                left: -162%;

                @media ($laptop) {
                    left: -82%;
                }
            }
        }


        &_2 {
            margin-top: 29rem;
            color: adjust-hue($color: $purple, $degrees: 45deg);
            mix-blend-mode: difference;
            color: $lightblue;

            mix-blend-mode: unset;
        }

        &_3 {
            position: absolute;
            bottom: 17%;
            // margin-bottom: -50rem;
            font-size: 7rem;
            line-height: 1.1;
            // text-wrap: nowrap;
            color: darken($color: $white, $amount: 10%);
            mix-blend-mode: unset;
            z-index: -2;

            @media ($mobileM) {
                font-size: 8rem;
            }

            @media ($mobileL) {
                font-size: 9rem;
            }

            @media ($tablet) {
                font-size: 13rem;
                bottom: 14%;
            }

            @media ($laptop) {
                font-size: 18rem;
            }

            @media ($notebook) {
                font-size: 20rem;
                bottom: 10%;
            }

            &_corr-pos {
                bottom: 57%;

                @media ($mobileL) {
                    bottom: 67%;
                }

                @media ($tablet) {
                    bottom: 53%;
                }

                @media ($laptop) {
                    bottom: 43%;
                }
            }
        }
    }

    &__img-cont {
        margin: 0 auto;
        margin-top: 33.4rem;

        width: 90%;
        max-width: 63rem;
        max-height: 42rem;
        border-radius: 3rem;
        overflow: hidden;
        mix-blend-mode: darken;
    }

    &__img {
        @extend %img;

        &_misc {
            @extend %img;
            position: static;
            margin: 0 auto;
            margin-top: 5.5rem;
            margin-bottom: 12rem;
            max-width: 172rem;
        }
    }

    &__btn {
        color: $white;
        background-color: $blue;
        box-shadow: 0 0 0.4rem 0.2rem #fffa;
        padding: 2rem;
        border-radius: 0.5rem;
        display: block;
        margin: 1rem auto;
        transition: 0.3s;

        &:hover {
            filter: hue-rotate(150deg);
        }

        &_fix_glitch {
            margin-top: 5rem;
            display: none;
        }
    }

    &__circle {
        // position: absolute;
        // z-index: -1;


        &_1 {
            @include circle($_diameter: 94.6rem);
            position: absolute;
            z-index: -1;
            top: -60.8rem;
            left: calc(100% * -20 / 120);
        }

        &_2 {
            @include circle($_diameter: 5.3rem, $_bgColor: $blue);
        }

        &_3 {
            @include circle($_diameter: 8.3rem);
        }

        &_4 {
            @include circle($_diameter: 5.4rem);
        }

        &_5 {
            @include circle($_diameter: 11.9rem);
        }

        &_6 {
            @include circle($_diameter: 11.9rem);
        }

        &_7 {
            @include circle($_diameter: 5.3rem);
        }

        &_8 {
            @include circle($_diameter: 17rem);
        }

        &_9 {
            @include circle($_diameter: 21rem);
        }

        &_10 {
            @include circle($_diameter: 11rem);
        }

        &_11 {
            @include circle($_diameter: 8rem);
        }

        &_12 {
            @include circle($_diameter: 37rem, $_bgColor: $lightpurple);

            @media ($tablet) {
                @include circle($_diameter: 67rem, $_bgColor: $lightpurple);
            }
        }

        &_13 {
            @include circle($_diameter: 25rem, $_bgColor: $lightpurple);

            @media ($tablet) {
                @include circle($_diameter: 35rem, $_bgColor: $lightpurple);
            }
        }

        &_14 {
            @include circle($_diameter: 28rem, $_bgColor: $lightpurple);
        }

        &_15 {
            @include circle($_diameter: 22rem, $_bgColor: $lightpurple);
        }

        &_16 {
            @include circle($_diameter: 75rem, $_bgColor: $lightpurple);

            @media ($tablet) {
                @include circle($_diameter: 145rem, $_bgColor: $lightpurple);
            }
        }


    }

    &__scene {
        position: absolute;
        z-index: -1;

        &_2 {
            top: 14.5rem;
            right: calc(100% * 50.4 / 192);
        }

        &_3 {
            top: 48rem;
            left: calc(100% * 80.7 / 192);
        }

        &_4 {
            top: 63rem;
            left: calc(100% * 40.8 / 192);
            z-index: 0;
        }

        &_5 {
            top: 78rem;
            right: calc(100% * 45.8 / 192);
        }

        &_6 {
            top: 92rem;
            left: calc(100% * 65.8 / 192);
        }

        &_7 {
            top: 108rem;
            right: calc(100% * 62 / 192);
        }

        &_8 {
            top: 130rem;
            right: calc(100% * 29 / 192);
        }

        &_9 {
            top: 145rem;
            left: calc(100% * 26 / 192);
            z-index: -3;

        }

        &_10 {
            top: 190rem;
            left: calc(100% * 50 / 192);
        }

        &_11 {
            top: 195rem;
            right: calc(100% * 90 / 192);
            z-index: 0;
            mix-blend-mode: hard-light;
        }

        &_12 {
            top: 31rem;
            right: calc(100% * 10 / 192);
            z-index: -10;
        }

        &_13 {
            top: 64rem;
            left: calc(100% * 10 / 192);
            z-index: -10;
        }

        &_14 {
            top: 117rem;
            right: calc(100% * 50 / 192);
            z-index: -10;
        }

        &_15 {
            top: 162rem;
            right: calc(100% * 25 / 192);
            z-index: -10;
        }

        &_16 {
            top: 107rem;
            left: calc(100% * (-17) / 29);
            z-index: -10;

            @media ($tablet) {
                top: 137rem;
                left: calc(100% * (-17) / 192);
                z-index: -10;
            }
        }
    }
}