@font-face {
    font-family: $mainFont;
    src: url(../fonts/MuseoSans.ttf);
    font-style: normal;
    font-weight: 600;
}

// @font-face {
//     font-family: $mainFont;
//     src: url(..);
//     font-style: normal;
//     font-weight: 700;
// }