@mixin h1($_color: $white) {
    color: $_color;
    font-family: $mainFont;
    font-size: 10rem;
    font-style: normal;
    font-weight: 600;
}

// @mixin h2($_color: ) {}

// @mixin h3($_color: ) {}

@mixin p1($_color: $black) {
    color: $_color;
    font-family: $mainFont;
    font-size: 15rem;
    font-style: normal;
    font-weight: 600;

}

// @mixin p2($_color: ) {}

%img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin circle ($_diameter: 12rem, $_bgColor: $purple) {
    width: $_diameter;
    height: $_diameter;
    border-radius: 50%;
    background-color: $_bgColor;

}